@model Web_practice.Models.Pages.Account.ProfileSettingsModel

@{
	ViewData["Title"] = "ProfileSettings";
}

<h1>ProfileSettings</h1>

<hr />

<div class="my-panel panel panel-success">
	<div class="panel-heading text-center"><h4>Редактирование профиля</h4></div>
	<div class="panel-body">
		<form asp-action="ProfileSettings" asp-controller="Account" method="post" enctype="multipart/form-data">
			<div class="validation" asp-validation-summary="ModelOnly" />
			<ul class="text-danger">
				@foreach (var error in Model.Errors)
				{
					<li>@error</li>
				}
			</ul>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Login">Ваш Логин:</label>
				<input type="text" asp-for="userInfo.Login" />
				<span asp-validation-for="userInfo.Login" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Email">Ваш Email:</label>
				<input type="text" asp-for="userInfo.Email" />
				<span asp-validation-for="userInfo.Email" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Password">Ваш Пароль:</label>
				<input type="password" asp-for="userInfo.Password" />
				<span asp-validation-for="userInfo.Password" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.ConfirmPassword">Ваш Пароль (повторно):</label>
				<input type="password" asp-for="userInfo.ConfirmPassword" />
				<span asp-validation-for="userInfo.ConfirmPassword" class="text-danger" />
			</div>
			<div class="text-center">
				<button class="btn bg-primary" type="submit">Изменить!</button>
			</div>
		</form>
	</div>
</div>

<form asp-controller="Account" asp-action="ProfileDelete" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<span asp-validation-for="userInfo.Login" class="text-danger" />
		<span asp-validation-for="userInfo.Email" class="text-danger" />
		<span asp-validation-for="userInfo.Password" class="text-danger" />
		<span asp-validation-for="userInfo.ConfirmPassword" class="text-danger" />
		<input type="submit" value="Удалить" class="btn btn-primary" />
	</div>
</form>



@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
