@model Web_practice.Models.Pages.Account.RegistrationModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<hr />

<div class="my-panel panel panel-success">
	<div class="panel-body">
		<form asp-action="Registration" asp-controller="Account" method="post">
			<div class="validation" asp-validation-summary="ModelOnly" />
			<ul class="text-danger">
				@foreach (var error in Model.Errors)
				{
					<li>@error</li>
				}
			</ul>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Login">Ваш Логин:</label>
				<input type="text" asp-for="userInfo.Login" />
				<span asp-validation-for="userInfo.Login" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Email">Ваш Email:</label>
				<input type="text" asp-for="userInfo.Email" />
				<span asp-validation-for="userInfo.Email" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.Password">Ваш Пароль:</label>
				<input type="password" asp-for="userInfo.Password" />
				<span asp-validation-for="userInfo.Password" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="userInfo.ConfirmPassword">Ваш Пароль (повторно):</label>
				<input type="password" asp-for="userInfo.ConfirmPassword" />
				<span asp-validation-for="userInfo.ConfirmPassword" class="text-danger" />
			</div>
			<div class="text-center">
				<button class="btn bg-primary" type="submit">Зарегистрироваться!</button>
			</div>
		</form>
	</div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
