@model Web_practice.Models.Pages.Task.AdditionAccessModel

@{
	ViewData["Title"] = "Access";
}

<h1>Access</h1>




<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form p-l-55 p-r-55 p-t-178 validate-form" asp-antiforgery="true" asp-action="AdditionAccess" asp-controller="Task" method="post">
				<div class="text-danger">@ViewBag.Error</div>
				<ul class="text-danger">
					@foreach (var error in Model.Errors)
					{
					<li>@error</li>
					}
				</ul>
				<div asp-validation-summary="ModelOnly" />
				<div class="form-group">
					<label class="field-labels" asp-for="Login">логин подписчика:</label>
					<input type="text" asp-for="Login" />
					<span asp-validation-for="Login" class="text-danger" />
				</div>
				<h4>уровень доступа:</h4>
				@*<div class="form-group">
			<label class="field-labels" asp-for="Level">уровень доступа:</label>
				<input type="number" asp-for="Level" />
			<span asp-validation-for="Level" class="text-danger" />
		</div>*@
				<div class="text-center">
					<button class="btn bg-primary" type="submit" name="level" value="1">только добавление программ</button>
				</div>
				<div class="text-center">
					<button class="btn bg-primary" type="submit" name="level" value="2">добавление и управление программами</button>
				</div>
				<div class="text-center">
					<button class="btn bg-primary" type="submit" name="level" value="22">администратор</button>
				</div>

				@*<div class="container-login100-form-btn">
					<button class="btn btn-primary" type="submit">
						подтвердить
					</button>
				</div>*@

			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
