@model Web_practice.Models.Pages.Task.AdditionExecutableModel

@{
	ViewData["Title"] = "AdditionExecutable";
}

<h1>AdditionExecutable</h1>

<hr />
<div class="my-panel panel panel-success">
	<div class="panel-heading text-center"><h4>добавить исполняемый файл</h4></div>
	<div class="panel-body">
		<form asp-action="AdditionExecutable" asp-controller="Task" method="post" enctype="multipart/form-data">
			<div class="validation" asp-validation-summary="ModelOnly" />
			<div class="form-group">
				<label class="field-labels" asp-for="Title">Название:</label>
				<input type="text" asp-for="Title" />
				<span asp-validation-for="Title" class="text-danger" />
			</div>
			<div class="form-group">
				<label class="field-labels" asp-for="Executable">Программа:</label>
				<input type="file" asp-for="Executable" />
				<span asp-validation-for="Executable" class="text-danger" />
			</div>
			<div class="text-center">
				<button class="btn bg-primary" type="submit">
					Создать!
				</button>
			</div>
		</form>
		@if (Model.Errors.Count != 0)
		{
			<h3>Список ошибок:</h3>
			<div class="scroll">
				@foreach (var message in Model.Errors)
				{
					<p class="text-danger">@message</p>
				}
			</div>
		}
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
