@model Web_practice.Models.Pages.Task.ResultModel

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div>
    <h4>ResultModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
